/* #region ========== PAGE root */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-red: #901C1C;
    --color-pink: #DB8876;
    --color-orange: #D3573C;
    --color-grey: #525252;
    --color-white: #FAFAFA;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 46.87px;
    margin: 0 0 0 0;
    color: #901C1C;
    
}
h2 {
    font-size: 36px;
    font-weight: 400;
    color: #D3573C;
    line-height: 46.87px;
    text-align: center;
    margin: .5em 0 0 0;
}
h3 {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C; 
    line-height: 16.93px;
    text-align: center;
    margin: 5px;
}
h4 {
    font-size:  9px;
    font-weight: 400;
    color: #525252;
    line-height: 11.72px;
    text-align: center;
    margin: 5px;
}
button {
    font-family: 'DM Sans', sans-serif;
}

p  {
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

label {
    font-size:  36px;
    font-weight: 400;
    color: #312E2E;
    /* line-height: 46.87px; */
    margin: 5px;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFFFF;
    width: 70%;
    margin: 2em auto;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    margin: 2em 0;
}
footer {
    padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
    h1 { font-size: 14px; text-align: center; }
    h3 { font-size: 12px; }
    body {
        width: 100%;
    }
}
/* #endregion */

/* #region ========== BUTTON */
/* btn index page*/
button {
    margin: 0 .2em;
    padding: 0 5px;
}

.btn_backTop {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    text-align: center;
    background: #DB8876;
    width: 182px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    transform: translateX(-50%);
}

.btn_heart{
    margin: 0;
    padding: 0 0 0 5px;
}

.btn_tag { 
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    font-size: 13px;
    font-weight: 500;
    color: #901C1C;
    background: #FFFFFF;
    text-align: center;
    height: 21px;
    cursor: pointer;
    padding: 2px 10px;
    margin: 2px;
    text-decoration: none;
}

.btn_tag:hover,
.btn_tag:focus {
    color: #FFFFFF;
    background-color: #901C1C;
}

/* btn photographer page */
.btn_contact {
    background: #901C1C;
    color: #FFFFFF;
    height: 69px;
    border-radius: 5px;
    border: none;
    margin: 0 0 0 0;
    padding: 0 .7em;
    font-size:  20px;
    font-weight: 700;
    line-height: 26.04px;
    text-align: center;
    margin: .5em 2em;
    cursor: pointer;
}
.btn_contact:hover,
.btn_contact:focus {
    color: #000000;
    background-color: #D3573C;
}

/* btn photographer valid form*/
.btn-submit {
    background: #901C1C;
    color: #FFFFFF;
    height: 69px;
    border-radius: 5px;
    display: block;
    margin: 2em 0;
    padding: 0 2em;
    cursor: pointer;
    border: 0;
}
.btn_submit:hover,
.btn_submit:focus {
    color: #000000;
    background-color: #D3573C;
}

/*#region CLOSE */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
@media screen and (max-width: 1310px) {
    .btn_contact {
        position: fixed;
        bottom: 0;
        width: 170px;
        height: 35px;
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 700px) {
    .btn_tag {
        margin: 1px;
        padding: 2px 5px;
    }
}
/* #endregion */
/* #endregion */

/* #region ========== PAGE index */

header a {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    color: black;
    text-decoration: none;
    padding-top: 3px;
}

.bloc_h1 {
    display: flex;
    align-items: center;
    position: absolute;
    right:0;
    top: 0;  
}

.article_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
}
.article_container a {
    text-decoration: none;
}
.card_nav ul {
    display: flex;
    justify-content: center;
}
.foto {
    text-align: center;
}

.article_photographer {
    width: 350px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
}

.article_photographer a:not(.btn_tag) {
    display: inline-block;
    text-align: center;
    width: 98%;
    margin: 2px;
    padding-top: 1em;
}

.article_photographer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.main_nav {
    position: absolute;
    left: 45.6%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 1em;
}

nav li {
    list-style: none;
}
@media screen and (max-width: 1680px) {
    .main_nav {
        top: 40px;
    }
    .article_container {
        justify-content: center;
    }
}
@media screen and (max-width: 1200px) {
    .main_nav {
        left: 50%;
    }
}

@media screen and (max-width: 900px) {
    img#logo {
        width: 100px;
        height: 25px;
        margin: 0 1em;
    }
    .bloc_h1 {
        top: -8px;
        right: 0;
        margin: 0 1em;
    }
    .main_nav {
        top: 20px;
        justify-content: center;
    }
    
}

@media screen and (max-width: 700px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main_nav {
        position: none;
        left: 5%;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
    }
    .article_container {
        margin-top: 6em;
    }

}
/* #endregion */

/* #region ========== PAGE photographer */
/* #region ==== main */
@media screen and (max-width: 700px) {
    
    img#logo_photographer {
        width: 100px;
        height: 25px;
    }

}
/* #region == identity */
.identity_card {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    background: #FAFAFA;
}
.identity_card #photo_photographer {
    border-radius: 50%;
}
.identity_card_contact {
    display: flex;
}
.identity_card h1 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    line-height: 83.33px;
    text-align: left;
}
.identity_card h2 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    line-height: 31.25px;
    text-align: left;
    margin: 0 0 .6em 0;
}
.identity_card h3 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    line-height: 31.25px;
    text-align: left;
    margin: 0 0 .6em 0;
}
.identity_card p {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    line-height: 23.44px;
    text-align: left;
    margin: .0 0 .6em 0;
}

.identity_card_text {
    position: relative;
}

.identity_card nav {
    position: absolute;
    left: -2px;
}
@media screen and (max-width: 700px) {
    .identity_card {
        justify-content: none;
        padding: 0;
    }
    .identity_card_contact {
        width: 100px;
    }
    .filter-box {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .identity_card h1 {
        font-size: 36px;
        line-height: 46.87px;
    }
    .identity_card h2 {
        font-size: 13px;
        line-height: 16.93px;
    }
    .identity_card p {
        font-size: 13px;
        line-height: 16.93px;
    }
    .identity_card img {
        width: 100px;
        height: 100px;
    }
}
/* #endregion == identity */

/* #region == SELECT */
button, li {
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.portfolio_select {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    cursor: pointer;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown .dropdown-toggle {
    appearance: none;
    background: #901C1C;
    color: #fff;
    border: 0;
    padding: 12px 35px 12px 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    width: 170px;
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.dropdown .dropdown-toggle::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 17px;
    background: url(img/select-arrow.svg) center center / 16px 26px no-repeat;
    width: 40px;
    height: 50%;
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.dropdown .dropdown-toggle.active::after {
    z-index: 80;
    transform: rotate(360deg);
    transition: transform .3s ease-in-out;
}

.dropdown .dropdown-menu {
    position: absolute;
    left: 88px;
    top: 0;
    transform: translateX(-50%);
    background: #901C1C;
    color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    z-index: 10;
    visibility: hidden;
    overflow: auto;
    max-height: 200px;
}

.dropdown .dropdown-menu[aria-expanded="true"] {
    visibility: visible;
}

.dropdown .dropdown-menu > li {
    height: 53px;
    display: block;
    align-items: center;
    padding: 16px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown .dropdown-menu li:nth-child(2) {
    /* border-width: 70%; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    /* padding: 1em; */
}

.dropdown .dropdown-menu > li:hover,
.dropdown .dropdown-menu > li:focus {
    outline: none;
    background:rgba(0,0,0,0.1);
}

/* #endregion ==== SELECT */

/* #region == portpholio */
.portfolio {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.portfolio label {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    font-weight: bold;
    line-height: 23.44px;
    text-align: left;
    margin: 0 1em 0 0;
}

.photo_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.photo_foot p {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    color: #901C1C;
    white-space: nowrap;
    /* overflow: hidden;
    width: 150px; */
}
.overflow-ellipsis {
    text-overflow: ellipsis;
}

.media_likes {
    display: flex;
}
.media_likes button{
    border: none;
    background: white;
    cursor: pointer;
}

.photo_foot i {
    font-size: 22px;
    color: #901C1C;
}
.photo_foot i[data-like="true"] {
    font-size: 30px;
    color: red;
}

.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo_article {
    margin-top: 2em;
}

.photo_article img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* counter */
.bloc_counter {
    position: fixed;
    display: flex;
    border-radius: 5px;
    bottom: -10px;
    right: 70px;
    width: 376px;
    height: 89px;
    background: #DB8876;
}
.bloc_counter .count {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}
.bloc_counter .price {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}
.bloc_counter p {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.25px;
}
.count::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    content: "\f004";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 1200px) {
    .bloc_counter {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .photo_article img {
        width: 100%;
        height: 190px;
        
    }
    .portfolio_select {
        display: none;
    }
    .portfolio_container {
        display: block;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

/* #endregion ==== portpholio */
/* #endregion */

/* #region ==== modal FORM */
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background-color: rgba(26, 39, 156, 0.4); */
}
.content {
    margin: 5% auto;
    margin-top: 4em;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: 0.8s;
    background-color: #DB8876;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
}
.modal-body {
    padding: 15px 8%;
    margin: 15px auto;
}
label {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    margin: 13px 0 11px 0;
}
input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

.rightPosition {
    margin-right: 20px;
}

.condition {
    margin: 1em 0;
}

/* message error */
.formData small {
    font-size: 10px;
 }
.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.noBr {
    display: block;
}
/* #endregion */

/* #region ==== modal LIGHTBOX */

.lightbox_bground {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    z-index: 10;
    animation: lightboxIn .3s;
    transition: opacity .3s;
}
.lightbox_bground.fadeOut {
    opacity: 0;
}

.lightbox_next,
.lightbox_prev {
    border: none;
    background: url(img/arrow.svg) center center / 30px 48px no-repeat;
    width: 30px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 50px;
    margin-top: -24px;
    opacity: .5;
    text-indent: -10000px;
    cursor: pointer;
    transition: .3s;
    z-index: 11;
}
.lightbox_next:hover,
.lightbox_prev:hover {
    opacity: 1;
}
.lightbox_prev {
    right: auto;
    left: 50px;
    transform: rotate(180deg);
}

.lightbox_close {
    border: none;
    background: url(img/cross.svg) center center / 48px 48px;
    position: fixed;
    top: 60px;
    right: 50px;
    width: 42px;
    height: 42px;
    opacity: .5;
    text-indent: -3000px;
    cursor: pointer;
    transition: .3s;
    text-indent: -10000px;
    z-index: 12;
}
.lightbox_close:hover {
    opacity: 1;
}

.lightbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
    margin: 50px 100px;
}

.lightbox_container img {
    max-width: 100%;
    height: auto;
    max-height: 89vh;
    overflow: hidden;
    image-rendering: pixelated;
    border-radius: 5px;
}

.lightbox_loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(img/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 700px) {

    .lightbox_prev {
        left: 6px;
    }
    .lightbox_container {
        /* min-height: 89vh; */
        margin: 20px 40px;
    }
    
    .lightbox_next,
    .lightbox_prev {
        background: url(img/arrow.svg) center center / 7.5px 12px no-repeat;
        top: 0;
        right: 6px;
    }
    .lightbox_close {
        background: url(img/cross.svg) center center / 12px 12px no-repeat;
        top: 198px;
        right: 2px;
    }

}
/* #endregion */

/* #endregion */

/* #region ========== ARIA */
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skip-links a {
    position: absolute;
    top: -10em;  
    color: #fff;
    background: #901C1C;
    padding: 0.2em 0.75em;
    font-weight: bold;
    text-decoration: none;
}
.skip-links a:focus {
    top: -1em;
    left: 50%;
}
/* #endregion ========== ARIA */